<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviacorp Programación</title>
</head>
<body>
    <h1>Programación de Vuelos</h1>
    <ul>
        <% for( let viaje of viajes) { %>
            <li><%= viaje.aeronave %> - <%= viaje.empresa %> - <%= viaje.destino %>
            </li>
        <% } %>
    </ul>
</body>
</html>