<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviacorp Programación</title>
</head>
<body>
    <h1>Detalles del viaje</h1>
    <ul>
        <li>Salida: <%= viaje.salida %></li>
        <li>Regreso: <%= viaje.regreso %></li>
        <li>Pasajeros: <%= viaje.pasajeros %></li>
        <% let notas = viaje.notas %> 
        <% if (notas) { %>
        <li>Notas: <%= viaje.notas %></li>
        <% } %>
    </ul>
</body>
</html>